pip
streamlit
unstructured[all-docs]==0.16.23
langchain==0.3.19
langchain-community==0.3.18
langchain-huggingface==0.1.2
#sentence-transformers==3.4.1
chromadb==0.6.3
langchain-google-genai==2.0.10
pysqlite3-binary
#opencv-python-headless
#opencv-python
#torch>=2.0.0
#transformers>=4.30.0
#transformers == 4.39.0
tokenizers>=0.19.1
#nest_asyncio
#transformers
