#pip
streamlit
sentence-transformers
#langchain
langchain-classic
langchain-community
langchain-google-genai
langchain-huggingface
langchain-groq
pysqlite3-binary
chromadb
unstructured
Pillow>=10.0.0
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
